{% load static %}
type="text"
maxlength="1"
oninput="moveToNext(this, 'otp2')"
onkeypress="return isNumberKey(event)"
class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
id="otp1"
autofocus
/>
<input type="text" maxlength="1" oninput="moveToNext(this, 'otp3')" onkeypress="return isNumberKey(event)"
  class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="otp2" />
<input type="text" maxlength="1" oninput="moveToNext(this, 'otp4')" onkeypress="return isNumberKey(event)"
  class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="otp3" />
<input type="text" maxlength="1" oninput="moveToNext(this, 'otp5')" onkeypress="return isNumberKey(event)"
  class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="otp4" />
<input type="text" maxlength="1" oninput="moveToNext(this, 'otp6')" onkeypress="return isNumberKey(event)"
  class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="otp5" />
<input type="text" maxlength="1" onkeypress="return isNumberKey(event)"
  class="w-12 h-12 text-center border rounded text-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="otp6" />
</form>
<button id="verifyBtn" type="button"
  class="mt-6 w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
  Verify
</button>
</div>
</body>


<script type="module" src="{% static 'js/verify_otp.js' %}"></script>

</html>